body{
    margin:0;
    padding:0;
    background:#076c67;
}

.card{
    position: absolute;
    top:50%;
    left:50%;
    width: 300px;
    height: 400px;
    
    background: #ffffff;
    transform-style: preserve-3d;
    transform:translate(-50%,-50%)perspective(2000px);
    box-shadow:inset 00px 0 50px rgb(0,0,0,.5),0 20px 100px rgba(0,0,0,0.5);
    transition: 1s;
}
.card:hover{
    transform:translate(-50%,-50%) perspective(2000px) rotate(-10deg);
    
    box-shadow:inset 20px 0 50px rgb(0,0,0,.5),0 10px 100px rgba(0,0,0,0.5);
}
.card:before{
    content:' ';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height:5px;
    background: #045a52;;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #12644d;
    transform-origin: left;
    transform:skewY(-45deg);
}

.card .imgbox img{
    width: 300px;
    height: 400px;
}

.card .imgbox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}
.card:hover .imgbox{
    transform:rotateY(-135deg);
}


@media only screen and (max-width: 600px) {
    
.card{
    position: absolute;
    
    width: 120px;
    height: 225px;
    
  }
  
.card .imgbox img{
    width: 120px;
    height: 225px;
}
}